{% extends 'authentication/Base.html' %}
{% load static %}
{% block title %}
PMS:: Password Change
{% endblock %}
{% block content %}
<div class="header">
    <p class="lead">Password Change</p>
</div>
<div class="body">

    <form class="form-auth-small" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="form-group">
            <input type="password" class="form-control" id="id_old_password" placeholder="Enter Old Password"
                name="old_password" autofocus required>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="signup-password" placeholder="Enter New Password"
                name="new_password1">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="signup-password" placeholder="Confirm Password"
                name="new_password2">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">CHANGE
            PASSWORD</button>
    </form>
    <br />

    <span>Go To Home? <a href="{% url 'home'%}" class="text-center text-primary ">Home</a></span>
</div>



{% endblock %}