{% extends 'authentication/Base.html' %}
{% load static %}
{% block title %}
PMS:: Recover Password
{% endblock %}
{% block content %}
<div class="header">
    <p class="lead">Recover My Password</p>
</div>
<div class="body">
    <p>Please enter your email address below to receive instructions for resetting password.
    </p>
    <form class="form-auth-small" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="form-group">
            <input type="email" class="form-control" id="signup-password" placeholder="Enter Your Email..."
                name="email">

        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">RESET
            PASSWORD</button>
        <div class="bottom">
            <span class="helper-text">Know your password? <a href="{{url('users:loginn')}}">Login</a></span>
        </div>
    </form>
</div>


{% endblock %}