{% extends 'authentication/Base.html' %}
{% load static %}
{% block title %}
PMS:: Password Reset Confirm
{% endblock %}
{% block content %}
<div class="header">
    <p class="lead">Password Change</p>
</div>
<div class="body">
    <form class="form-auth-small" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type='hidden' value='{{uid}}' name='uid'>



        <div class="form-group">
            <input type="password" class="form-control" id="signup-password" placeholder="Enter New Password"
                name="new_password1">

        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="signup-password" placeholder="Confirm Password"
                name="new_password2">

        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">CHANGE
            PASSWORD</button>
    </form>
</div>
{% endblock %}