{% extends 'authentication/Base.html' %}
{% load static %}
{% block title %}
PMS:: Password Reset Done
{% endblock %}
{% block content %}
<div class="header">
    <p class="lead">Send password Reset Link in Your Email Address</p>
</div>
<div class="body">
    <p>Please check your email if you didn't get email so your email is invalid try again
    </p>
</div>
<div class="bottom">
    <span class="helper-text">Reset password? <a href="{% url 'password_reset'%}">Back</a></span>
</div>
{% endblock %}