{%extends 'app/Base.html'%}
{%block title%}PMS::Home{%endblock%}
{% load static %}
{%block css%}
<link rel="stylesheet" type="text/css" href={% static "css/index.css" %}>
{%endblock%}


{% block body %}
<!-- navbar  -->
{% include "app/include/navbar.html" %}

<div class="row profile" style="margin-top: 100px;">
  <div class="col-md-1"></div>
  <!-- Start main page -->
  <div class="col-md-7" id="parentofproject">
    {% for i in pobj %}
    <div class="card">
      <div class="row main" style="margin-top: 8px;">
        <div class="col-md-1"></div>
        <div class="col-md-1 imagemain">
          {% if i.user.profile_img %}
          <img src={{i.user.profile_img.url}} style="height: 60px; width: 60px; border-radius: 50%;">
          {% else %}
          <img src="{%static 'projectimages/xs/avatar1.jpg' %}" style="height: 60px; width: 60px; border-radius: 50%;">
          {% endif %}

        </div>
        <div class="col-md-4 maintext" style="margin-left: 20px;">
          <h5 class="h5"><b>{{i.user.username}}</b></h5>
          <p class="p" style="color: gray;">{{i.user.bio}}</p>


        </div>
        <div class="col-md-6"></div>

      </div>

      <div class="card-body row mainCard">
        <div class="col-md-1"></div>
        <!-- image -->
        <div class="col-md-10">
          <div class="row g-0">
            <div class="col-md-7">
              <div class="card-body">

                <h5 class="card-title">{{i.title}} <button type="button" data-bs-toggle="modal"
                    data-bs-target="#project-detail-edit"><i class="fas fa-edit" id="dataid"
                      data-pid="{{i.id}}"></i></button></h5>
                <p class="card-text">{{i.description}}</p>
                <p class="card-text-1"><small class="text-muted">Created at {{i.current_time}}</small></p>

              </div>
            </div>
            <div class="col-md-5">
              <img src="{{i.project_img}}" class="img-fluid rounded-start d-flex justify-content-center" alt="...">
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <hr>
      <!-- like vaghre -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6 icons">
          <a href="#"><i class="fas fa-fire-alt emoji" style="font-size: 25px; margin-left: 5px;"></i></a>
          <a href="#"><i class="far fa-comments emoji" style="font-size: 25px;margin-left: 15px;"></i></a>
          <a href="#"><i class="fas fa-share emoji" style="font-size: 25px; margin-left: 20px;"></i></a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 team">
          <img src="" class="emoji2" style="height: 40px; width: 40px; border-radius: 50%;">
          <img src="" class="emoji2" style="height: 40px; width: 40px; border-radius: 50%;">
          <img src="" class="emoji2" style="height: 40px; width: 40px; border-radius: 50%;">
          <img src="" class="emoji2" style="height: 40px; width: 40px; border-radius: 50%;">
        </div>

      </div>
      <div class="row message">
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <input type="text" placeholder="add comment..." class="form-control"
            style="height: 30px; margin-top: 15px; border-top: none; border-left: none; border-right: none;">
        </div>
        <div class="col-md-2 message">
          <a href="#"><i class="fab fa-telegram-plane emoji2" style="font-size: 35px; margin-top: 8px;"></i></a>
        </div>

      </div>
      <br>
    </div>
    <br>
    {% endfor %}

  </div>


  <!-- End main page -->


  <!-- Start Friends -->
  <div class="col-md-3 friend-box">
    <div class="card text-center position-fixed friend-box-extra">
      <p style="font-size: 14px; margin-right: 80px; margin-top: 15px;">Add more friends...</p>
      <!-- serch button -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <!-- clost search button -->
      <div class="card-body">
        <div class="row" style="margin-top: 5px;">
          <div class="col-md-3">
            <img src="" style="height: 50px; width: 50px; border-radius: 50%;">
          </div>
          <div class="col-md-9">
            <p style="font-size: 15px; margin-bottom: 5px; margin-right: 40px;">Arpit Pandeya</p>
            <p style="font-size: 12px; color: gray; margin-bottom: 5px; margin-right: 40px;">Python Developer</p>
          </div>
        </div>
        <!-- close side image -->
        <!-- side image -->
        <div class="row" style="margin-top: 5px;">
          <div class="col-md-3">
            <img src="" style="height: 50px; width: 50px; border-radius: 50%;">
          </div>
          <div class="col-md-9">
            <p style="font-size: 15px; margin-bottom: 5px; margin-right: 40px;">Sumit Nautiyal</p>
            <p style="font-size: 12px; color: gray; margin-bottom: 5px; margin-right: 40px;">Python Developer</p>
          </div>
        </div>
        <!-- close side image -->

        <!-- side image -->
        <div class="row" style="margin-top: 5px;">
          <div class="col-md-3">
            <img src="" style="height: 50px; width: 50px; border-radius: 50%;">
          </div>
          <div class="col-md-9">
            <p style="font-size: 15px; margin-bottom: 5px; margin-right: 40px;">Uday kapoor</p>
            <p style="font-size: 12px; color: gray; margin-bottom: 5px; margin-right: 40px;">Python Developer</p>
          </div>
        </div>
        <!-- close side image -->
        <!-- side image -->
        <div class="row" style="margin-top: 5px;">
          <div class="col-md-3">
            <img src="" style="height: 50px; width: 50px; border-radius: 50%;">
          </div>
          <div class="col-md-9">
            <p style="font-size: 15px; margin-bottom: 5px; margin-right: 40px;">Deepak Maletha</p>
            <p style="font-size: 12px; color: gray; margin-bottom: 5px; margin-right: 40px;">Python Developer</p>
          </div>
        </div><br>
        <!-- see more link -->
        <div>
          <a href="#" style="color: gray; margin-left: 70px;">See more...</a>
        </div>
        <!-- see more end -->
        <!-- close side image -->
      </div>
    </div>
    <br>
    <div class="position-fixed" style="margin-top: 400px;">
      <a href="#" style="color: black; text-decoration: none;">Trending Post</a><br>
      <a href="#">#python</a>
      <a href="#">#ML</a>
      <a href="#">#AI</a>
      <a href="#">#WebDevelopment</a>
      <a href="#">#AppDevelopment</a>
    </div>



  </div>
  <!-- End friends -->
  <div class="col-md-1"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="project-detail-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Project Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="#project-detail-edit-body">
        <!-- backend form  -->
        <form id="projectudform" enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}
          <div class="modal-footer">

            <button type="button" id="update-project" class="btn btn-primary">Update Project</button>
            <button type="button" id="delete-project" class="btn btn-primary">Delete Project</button>
          </div>


        </form>


      </div>

    </div>
  </div>
</div>

{% endblock %}

<!-- script home page  -->
{% block js %}

<script>
  $(document).ready(function () {
    function loadprojectdetails(id) {
      let output = '';

      let url = `http://localhost:8000/api/projectdetail/${id}/`;
      console.log(url);
      $.ajax({
        type: 'GET',
        url: url,
        success: function (res) {
          $("#id_title").val(res['title']);
          $("#id_team_members").val(res['team_members']);
          $('#id_title').attr('data-pid', res['id']);
          $("#id_project_img").attr('src', res['project_img']);;
          $("#id_project_type").val(res['project_type']);
          $("#id_project_file").attr('src', res['project_file']);
          $("#id_description").val(res['description']);

        }
      });
    }
    //get project data in form
    $("#parentofproject").on('click', '#dataid', function () {

      let s = $(this).attr('data-pid');
      loadprojectdetails(s);
    });





    //update project 
    $("#update-project").click(
      () => {
        let id = $('#id_title').attr('data-pid');
        let title = $("#id_title").val();
        let tm = $("#id_team_members").val();
        let img = $("#id_project_img").attr('src');;
        let projecttype = $("#id_project_type").val();
        let file = $("#id_project_file").attr('src');
        let desc = $("#id_description").val();
        let datad = {
          "title": title,
          "team_members": tm,
          "project_img": img,
          "project_type": projecttype,
          "project_file": file,
          'description': desc
        };
        console.log(datad);
        console.log(id);


        $.ajax({
          url: `http://localhost:8000/api/projectdetail/${id}/`,
          type: 'PUT',
          dataType: "json",
          data: datad,
          success: function (res) {
            alert("update");

          }
        });





      });

    //delete proejct
    $("#delete-project").click(
      () => {
        let id = $('#id_title').attr('data-pid');
        $.ajax({
          url: `http://localhost:8000/api/projectdetail/${id}/`,
          type: "DELETE",
          success: function (res) {
            alert("delete");

          }
        });

      });



  });





</script>

{% endblock %}