{%extends 'app/Base.html'%}
{%block title%}PMS::Home{%endblock%}
{% load static %}
{%block css%}
<link rel="stylesheet" type="text/css" href={% static "css/index.css" %}>
{%endblock%}


{% block body %}
<!-- navbar  -->
{% include "app/include/navbar.html" %}

<div class="row profile" style="margin-top: 100px;">
  <div class="col-md-1"></div>
  <!-- Start main page -->
  <div class="col-md-7" id="parentofproject">
    {% for i in pobj %}
    <div class="card">
      <div class="row main" style="margin-top: 8px;">
        <div class="col-md-1"></div>
        <div class="col-md-1 imagemain">
          {% if i.user.profile_img %}
          <img src={{i.user.profile_img.url}} style="height: 60px; width: 60px; border-radius: 50%;">
          {% else %}
          <img src="{%static 'projectimages/avatar.png' %}" style="height: 60px; width: 60px; border-radius: 50%;">
          {% endif %}

        </div>
        <div class="col-md-4 maintext" style="margin-left: 20px;">
          <h5 class="h5 text-capitalize"><b><a href="{% url 'profilewithid' i.user.id %}"
                style="text-decoration:none;">{{i.user.username}}</a></b></h5>
          <p class="p text-capitalize" style="color: gray;">{{i.user.bio}}</p>


        </div>
        <div class="col-md-6"></div>

      </div>

      <div class="card-body row mainCard">
        <div class="col-md-1"></div>
        <!-- image -->
        <div class="col-md-10">
          <div class="row g-0">
            <div class="col-md-7">
              <div class="card-body">

                <h5 class="card-title text-capitalize">{{i.title}} <button type="button" data-bs-toggle="modal"
                    data-bs-target="#project-detail-edit" class="btneditt"><i class="fas fa-edit" id="dataid"
                      data-pid="{{i.id}}"></i></button></h5>
                <p class="card-text">{{i.description}}</p>
                <p class="card-text-1"><small class="text-muted">Created at {{i.current_time}}</small></p>

              </div>
            </div>
            <div class="col-md-5">
              {% if i.project_img %}

              <img src="{{i.project_img.url}}" class="img-fluid rounded-start d-flex justify-content-center" alt="...">
              {%else%}
              <img src="{%static 'projectimages/project-image.png' %}"
                class="img-fluid rounded-start d-flex justify-content-center" alt="...">


              {%endif %}


            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <hr>
      <!-- like vaghre -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 icons">

          <button type="button" id="flame-btn" style="border:none;background:none;"><i
              class="fas fa-fire-alt emoji mt-1" {% if not request.user in i.likes %}
              style="font-size: 22px; margin-left:20px;color:blue;" {% else %}
              style="font-size: 22px; margin-left:20px;color:red;" {% endif %}></i></button>

          <small class="p-2 "><b>{{i.count_flame}}</b> Flame</small>

          <!-- <a href="#"><i class="far fa-comments emoji" style="font-size: 20px;"></i></a> -->
          <!-- <a href="#"><i class="fas fa-share emoji" style="font-size: 20px; margin-left: 20px;"></i></a> -->
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 team">
          <img src="" class="emoji2" style="height: 40px; width: 40px; border-radius: 50%;">
          <img src="" class="emoji2" style="height: 40px; width: 40px; border-radius: 50%;">
          <img src="" class="emoji2" style="height: 40px; width: 40px; border-radius: 50%;">
          <img src="" class="emoji2" style="height: 40px; width: 40px; border-radius: 50%;">
        </div>

      </div>
      <div class="row message">

      </div>
      <br>
    </div>
    <br>
    {% endfor %}

  </div>


  <!-- End main page -->
  <!-- Start Friends -->
  <div class="col-md-3 friend-box">
    <div class="card text-center position-fixed friend-box-extra">
      <p style="font-size: 14px; margin-right: 80px; margin-top: 15px;">Add more friends...</p>
      <!-- serch button -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <!-- clost search button -->
      <div class="card-body">
        <div class="row" style="margin-top: 5px;">
          <div class="col-md-3">
            <img src="" style="height: 50px; width: 50px; border-radius: 50%;">
          </div>
          <div class="col-md-9">
            <p style="font-size: 15px; margin-bottom: 5px; margin-right: 40px;">Arpit Pandeya</p>
            <p style="font-size: 12px; color: gray; margin-bottom: 5px; margin-right: 40px;">Python Developer</p>
          </div>
        </div>
        <!-- close side image -->
        <!-- side image -->
        <div class="row" style="margin-top: 5px;">
          <div class="col-md-3">
            <img src="" style="height: 50px; width: 50px; border-radius: 50%;">
          </div>
          <div class="col-md-9">
            <p style="font-size: 15px; margin-bottom: 5px; margin-right: 40px;">Sumit Nautiyal</p>
            <p style="font-size: 12px; color: gray; margin-bottom: 5px; margin-right: 40px;">Python Developer</p>
          </div>
        </div>
        <!-- close side image -->

        <!-- side image -->
        <div class="row" style="margin-top: 5px;">
          <div class="col-md-3">
            <img src="" style="height: 50px; width: 50px; border-radius: 50%;">
          </div>
          <div class="col-md-9">
            <p style="font-size: 15px; margin-bottom: 5px; margin-right: 40px;">Uday kapoor</p>
            <p style="font-size: 12px; color: gray; margin-bottom: 5px; margin-right: 40px;">Python Developer</p>
          </div>
        </div>
        <!-- close side image -->
        <!-- side image -->
        <div class="row" style="margin-top: 5px;">
          <div class="col-md-3">
            <img src="" style="height: 50px; width: 50px; border-radius: 50%;">
          </div>
          <div class="col-md-9">
            <p style="font-size: 15px; margin-bottom: 5px; margin-right: 40px;">Deepak Maletha</p>
            <p style="font-size: 12px; color: gray; margin-bottom: 5px; margin-right: 40px;">Python Developer</p>
          </div>
        </div><br>
        <!-- see more link -->
        <div>
          <a href="#" style="color: gray; margin-left: 70px;">See more...</a>
        </div>
        <!-- see more end -->
        <!-- close side image -->
      </div>
    </div>
    <br>
    <div class="position-fixed" style="margin-top: 400px;">
      <a href="#" style="color: black; text-decoration: none;">Trending Post</a><br>
      <a href="#">#python</a>
      <a href="#">#ML</a>
      <a href="#">#AI</a>
      <a href="#">#WebDevelopment</a>
      <a href="#">#AppDevelopment</a>
    </div>



  </div>
  <!-- End friends -->
  <div class="col-md-1"></div>
</div>
<!-- Modal -->
<div class="modal fade" id="project-detail-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Project Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="#project-detail-edit-body">
        <!-- backend form  -->
        <form id="projectudform" enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}
          <div class="modal-footer">

            <button type="button" id="update-project" class="btn btn-primary">Update Project</button>
            <button type="button" id="delete-project" class="btn btn-primary">Delete Project</button>
          </div>


        </form>


      </div>

    </div>
  </div>
</div>

{% endblock %}

<!-- script home page  -->
{% block js %}

<script>





</script>

{% endblock %}