{%extends 'app/Base.html'%}
{%block title%}PMS::Project-Detail{%endblock%}
{% load static %}
{%block css%}
<link rel="stylesheet" type="text/css" href={% static "css/projectdetail.css" %}>
{%endblock%}
{% block body %}
<!-- navbar  -->
{% include "app/include/navbar.html" %}
<div class="container " style="margin-top: 100px;">
    <div class="row text-center">
        <div class="col-md-8">
            <div class="card mb-3" style="max-width:95%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if project.project_img %}
                        <img src="{{project.project_img.url}}" class="img-fluid" alt="...">

                        {% else %}
                        <img src={% static 'projectimages/project-image.png' %} class="img-fluid rounded-start"
                            alt="...">

                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="mt-3">
                            <h5 class="d-inline text-capitalize">{{project.user}}</h5>
                            (<p class="d-inline ">{{project.user.bio}}</p>)

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{project.title}}</h5>
                            <p class="card-text">{{project.description}}</p>
                            <p class="card-text"><small class="text-muted">Created At
                                    {{project.current_time}}</small>&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <small class="text-muted">Last updated {{project.updated_at}}</small>

                            </p>

                        </div>
                        {% if request.user == project.user%}
                        <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-warning" data-toggle="modal"
                                data-target="#exampleModal">
                                Edit
                            </button>

                            <form class="d-inline" action="{%url 'deletepost' project.id %}" method="Post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </div>
                        {% else %}{% endif %}
                    </div>
                </div>
            </div>
            <hr>
            <!-- like vaghre -->
            <div class="row border shadow">
                <div class="col-md-2">
                    <form method="Post" action={% url 'like' project.id %}>
                        {% csrf_token %}
                        <button type="submit" id="flame-btn" style="border:none;background:none;">

                            <i class="fas fa-fire-alt emoji mt-1" {% if request.user in project.flame.all %}
                                style="font-size: 22px; margin-left:20px;color:red;" {% else %}
                                style="font-size: 22px; margin-left:20px;color:blue;" {% endif %}></i></button>
                    </form>
                    <small class="p-2 "><b> {{project.count_flame}} Flame</b> </small>

                </div>

                <div class="col-md-10 ">
                    {% if project.flame.all.count > 0 %}
                    {% for u in project.flame.all.reverse %}
                    {% if u.profile_img %}
                    <img src="{{u.profile_img.url}}" class="emoji2"
                        style="height: 40px; width: 40px; border-radius: 50%; margin:5px 5px;">

                    {% else %}
                    <img src="{%static 'projectimages/avatar.png' %}" class="emoji2 img-fluid"
                        style="height: 40px; width: 40px; border-radius: 50%;">

                    {% endif %}

                    {% endfor %}
                    {% else %}<small class="mt-4 text-center ">No user likes </small>
                    {% endif %}
                </div>

            </div>
            <!-- comment section  -->

            <div class="container mt-5 border shadow" style="overflow-y: scroll; height:250px;margin-bottom: 5rem;">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <div class="headings d-flex justify-content-between align-items-center mb-3">
                            <h5>Comments(6)</h5>
                        </div>
                        <div class="card p-3 mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center"> <img
                                        src="https://i.imgur.com/hczKIze.jpg" width="30"
                                        class="user-img rounded-circle mr-2"> <span><small
                                            class="font-weight-bold text-primary">james_olesenn</small> <small
                                            class="font-weight-bold">Hmm, This poster looks cool</small></span>
                                </div> <small>2 days
                                    ago</small>
                            </div>

                        </div>

                        <!-- secod  -->
                        <div class="card p-3 mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center"> <img
                                        src="https://i.imgur.com/hczKIze.jpg" width="30"
                                        class="user-img rounded-circle mr-2"> <span><small
                                            class="font-weight-bold text-primary">james_olesenn</small> <small
                                            class="font-weight-bold">Hmm,
                                            This poster looks cool</small></span>
                                </div> <small>2 days
                                    ago</small>
                            </div>

                        </div>
                        <!-- third  -->
                        <div class="card p-3 mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center"> <img
                                        src="https://i.imgur.com/hczKIze.jpg" width="30"
                                        class="user-img rounded-circle mr-2"> <span><small
                                            class="font-weight-bold text-primary">james_olesenn</small> <small
                                            class="font-weight-bold">Hmm,
                                            This poster looks cool</small></span>
                                </div> <small>2 days
                                    ago</small>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- second div  -->
        <div class="col-md-4">
            <h3>Team Members</h3>
            <div class="accordion mt-4" id="accordionPanelsStayOpenExample">
                {% if project.team_members %}
                {% for team in project.team_members.all %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            <b class="text-capitalize">{{team.username}}</b>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <!-- team member profile  -->
                            <div class="container mx-auto mt-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card2" style="width: 22rem;">
                                            {% if team.profile_img %}
                                            <img src="{{team.profile_img.url}}" class="card-img-top" alt="...">
                                            {% else %}
                                            <img src="{%static 'projectimages/avatar.png' %}" class="card-img-top"
                                                alt="...">{% endif %}
                                            <div class="card-body">
                                                <h5 class="card-title text-capitalize">{{team.username}}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted text-capitalize">{{team.bio}}
                                                </h6>
                                                <p class="card-text">Send Message on Email : {{team.email}}</p>
                                                <a href="{% url 'profilewithid' team.id %}" class="btn2 btn mr-2"><i
                                                        class="fas fa-link"></i> Visit
                                                    Profile</a>
                                                <a href="{{team.github}}" class="btn2 btn"><i
                                                        class="fab fa-github"></i>Follow on
                                                    Github</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Project Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="d-inline" action="{%url 'updatepost' project.id %}" method="Post"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>



                <button type="submit" class="btn btn-outline-primary"></i>Update</button>
                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}