{%extends 'users/Base.html'%}
{%block title%}PMS::Profile{%endblock%}
{% load static %}
{%block css%}
<link rel="stylesheet" type="text/css" href={% static "css/mainprofile.css" %}>

{%endblock%}

{% block body %}
<!-- navbar  -->
{% include "app/include/navbar.html" %}

<div class="container " style="margin-top: 80px;">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <div class="profile-img">
                {% if projecttdetails.user.profile_img %}
                <img src="{{projecttdetails.user.profile_img.url}}" alt="" />
                {%else%}
                <img src="{%static 'projectimages/avatar.png' %}" alt="" />
                {%endif%}
                {% if request.user.username == projecttuser %}
                <div class="file btn btn-lg btn-primary">
                  Change Photo
                  <input type="file" name="file" />
                </div>
                {% else %}


                {%endif%}
              </div>
              <div class="mt-3">
                <h4 class="text-capitalize">{{projecttdetails.user.username}}</h4>
                <p class="text-secondary mb-1">{{projecttdetails.user.bio|default_if_none:"..Developer"}}</p>
                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                {% if request.user.username == projecttuser %}
                <a href="{% url 'profileedit' request.user.id %}" class="btn btn-outline-warning">Edit Profile</a>
                <form method="POST" action="{% url 'profiledelete' request.user.id %}" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-danger">Delete Account</button>
                </form>
                {%else%}
                <button type="button" class="btn btn-outline-info">Follow</button>
                <button type="button" class="btn btn-outline-warning">Message</button>

                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><i class="fas fa-globe"></i></h6>
              <span class="text-secondary">{{projecttdetails.user.website}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><i class="fab fa-facebook"></i></h6>
              <span class="text-secondary">{{projecttdetails.user.fb}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><i class="fab fa-github"></i></h6>
              <span class="text-secondary">{{projecttdetails.user.github}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><i class="fab fa-instagram-square"></i></h6>
              <span class="text-secondary">{{projecttdetails.user.insta}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><i class="fab fa-linkedin"></i></h6>
              <span class="text-secondary">{{projecttdetails.user.linkedin}}</span>
            </li>
          </ul>
        </div>

        <div class="card mt-3">
          <div class="card-body">
            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project
              Status</h6>
            <small>Web Design</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small>Website Markup</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small>One Page</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small>Mobile Template</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small>Backend API</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>



      </div>

      <div class="col-md-8">

        {% for i in pobj %}

        <div class="card ">
          <div class="row main" style="margin-top: 8px; margin-left: 1px;">
            <div class="col-md-1 imagemain">
              {% if i.user.profile_img %}
              <img src="{{i.user.profile_img.url}}" style="height: 60px; width: 60px; border-radius: 50%;">
              {% else%}
              <img src="{%static 'projectimages/avatar.png' %}" style="height: 60px; width: 60px; border-radius: 50%;">

              {%endif%}
            </div>
            <div class="col-md-4 maintext" style="margin-left: 20px;">
              <h5 class="h5 text-capitalize"><b>{{i.user.username}}</b></h5>
              <p class="p text-capitalize" style="color: gray;">{{i.user.bio}}</p>
            </div>
            <div class="col-md-7"></div>
          </div>

          <div class="card-body row mainCard">
            <!-- image -->
            <div class="col-md-12">
              <h5 class="card-title text-capitalize">{{i.title}}</h5>
              <p class="card-text">{{i.description}}</p>
              <p class="card-text-1"><small class="text-muted">Created at {{i.current_time}}</small></p>

            </div>
            <div class="col-md-12">
              {% if i.project_img %}
              <img src="{{i.project_img.url}}" class="rounded mx-auto d-block" style="height: 200px; width: 200px;"
                alt="...">
              {%else%}
              <img src="{%static 'projectimages/project-image.png' %}" class="rounded mx-auto d-block"
                style="height: 200px; width: 200px;" alt="...">
              {%endif %}

            </div>
          </div>
          <hr>
          <div class="col-md-12">
            <a href="#"><i class="fas fa-fire-alt emoji " style="font-size: 25px; margin-left: 5px;"></i></a>
            <a href="#"><i class="fas fa-comment emoji " style="font-size: 25px; margin-left: 35px;"></i></a>
            <a href="#"><i class="fas fa-share emoji " style="font-size: 25px; margin-left: 35px;"></i></a>
          </div>
        </div>
        <br>

        {% endfor %}








      </div>
    </div>

  </div>
</div>

{% endblock %}