{% extends 'authentication/Base.html' %}
{% load static %}
{% block title %}
PMS:: Create Account
{% endblock %}
{% block css%}

{%endblock%}
{% block content %}
<!-- WRAPPER -->
<div class="card">
    <div class="header">
        <p class="lead">Create Account</p>
    </div>
    <div class="body">
        <form class="form-auth-small" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">

            {% for i in form %}
            <div class="form-group">
                {{i}}


            </div>
            {% endfor %}
            {% if error %}
            {{error}}
            {%else%}
            {%endif%}
            <div class="form-group clearfix">
                <label class="fancy-checkbox element-left">
                    <input type="checkbox" id="checkbox">
                    <span>Show Password</span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Signup</button>
            <div class="bottom">
                <span>Already have a account? <a href="{%url 'login' %}">Login</a></span>
            </div>
        </form>
    </div>
</div>
<!-- END WRAPPER -->
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    

        $('#checkbox').on('click', function () {
            
            let passInput1 = $("#id_password1");
            let passInput2 = $("#id_password2");
            if (passInput1.attr('type') === 'password') {
                passInput1.attr('type', 'text');
                passInput2.attr('type', 'text');
            } else {
                passInput1.attr('type', 'password');
                passInput2.attr('type', 'password');
            }
        })
    })
</script>

{% endblock %}