{%extends 'common/Base.html'%}
{%block title%}profile Page{%endblock%}
{%load static%}
{%block css%}
<link rel="stylesheet" type="text/css" href="{%static 'css/upload.css'%}" />
{%endblock%}
{%block body%}
<div class="container">
    <form method="POST" action={% url 'post' %} enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><b>Upload Project </b></h2><br><br>

                <div class="row">
                    
                    
                    
                    <div class="col-md-3">
                        <input class="form-control btn btn-success" type="file" name="file" required id="id_file">
                    </div>



                </div><br><br>

                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="title" placeholder="Project Title">
                    </div>
                    <div class="col-md-3">
                        <label>Project Image or GIF</label>
                        <input class="form-control btn btn-success" type="file" name="image" accept="image/*" required
                            id="id_image">
                    </div>

                </div><br><br>

                <div class="row">

                    <div class="col-md-4">
                        <input type="text" class="form-control" name="technology" placeholder="Technology Used">
                    </div>

                </div><br>


                <span>Description</span><br><br>
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" name="description"></textarea>
                    </div>
                </div>

                <br><br>
                <div class="row">
                    <div class="col-md-3">
                        <input type="submit" class="form-control btn btn-primary" value="Upload Files">
                    </div>
                    <div class="col-md-1">
                        <span>or</span>
                    </div>
                    <div class="col-md-2">
                        <p><a href="#" type="reset" class="btn btn-danger">Cancel</a></p>
                    </div>
                    <div class="col-md-6"></div>
                </div>

            </div>
        </div>
    </form>
</div>


{%endblock%}